

<h1>Welcome to our Library</h1>
<hr>
<br>
<div class="row">
    <div class="col-6">
        <p>You can <b routerLink="/categories">Borrow</b> and <b routerLink="returnBook">Return</b> 
            a book after One Week for only <b id="one">1$</b>.</p>
        <p>Only one <b routerLink="/categories" style="cursor: pointer" ><u>click</u></b> to read your favourite book.</p>
        <button class="btn btn-success">Borrow a Book Now</button>
        <return-book></return-book>
    </div>
    <div class="col-6" style="background-image: url('assets/img/library.jpg');"></div>
</div>

